body {
//  background: #e6e6e6;
  height: 100%;
}
.profile {
  padding: 100px 0 0 0 !important;
  h1 {
    padding-top: 80px;
    margin-bottom: 0;
  }
  .sheet {
    min-height: 1000px;
    background: #eeeeee;
    width: 90%;
    margin: auto;
    border-radius: 2px;
    .inner {
      padding: 50px;
    }
    .sheet-button {
      position: fixed;
      right: calc(40px + 5%);
      left: auto;
      bottom: 40px;
      -webkit-mask:none;
    }
    .btn-floating.btn-large:active {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 7px 0 rgba(0, 0, 0, 0.12);
    }
  }
}


.bg {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}
.bg-profile {
  background-image: url(../res/profile/profile.jpg);
}
.bg-dashboard {
  background-image: url(../res/profile/dashboard.jpg);
}
.bg-history {
  background-image: url(../res/profile/history.jpg);
}
.bg-books {
  background-image: url(../res/profile/books.jpg);
}
.bg-transactions {
  background-image: url(../res/profile/transactions.jpg);
}
.bg-rating {
  background-image: url(../res/profile/rating.jpg);
}
.bg-search {
  background-image: url(../res/profile/search.jpg);
}










.books {
  .book-cont {
    padding: 50px;
    
    .book-wrapper {
      position: relative;
      display: inline-block;
      margin: 10px;
      margin-bottom: 50px;
      transition: all .2s ease;
      .book {
        height: 190px;
        width: 150px;
        background: #ffffff;
        background-image: url(../res/books/book-default.png);
        background-size: cover;
        transition: all .2s ease;
        cursor: pointer;
        position: relative;
        .bottom {
          height: 50px;
          width: 100%;
          position: absolute;
          bottom: 0;
        }
        &:hover {
//          box-shadow: 0 4px 12px 0 rgba(0,0,0,0.4);
        }
      }
      .closer {
        display: none;
        position: absolute;
        cursor: pointer;
        border-radius: 30px;
        font-size: 12px;
        padding: 4px;
        background: #000000;
        opacity: .6;
        right: 5px;
        bottom: 5px;
        color: #fff;
        text-align: center;
        transition: all .2s ease;
//        pointer-events: none;
      }
    }
    .book-wrapper:hover .closer {
      display: block;
      transition: all .2s ease;
    }
  }
  #modal-add-books {
    .lbl-isbn-error {
      font-size:11.6px;
      color: #F44336;
      opacity: 1;
      position: absolute;
      top: 48px;
      display:none;
    }
    #btn-get-book {
      cursor: pointer;
      margin-top: 20px;
      position: absolute;
      right: 10px;
      top: -10px;
      bottom: 0;
    }
  }
}




//@media only screen and (min-width : 601px) and (max-width : 992px) {
//  #toast-container {
//    min-width: 8%!important;
//    top: 10%!important;
//    right: 7%!important;
//  }
//}