

.profile {
  padding: 100px 0 20px 0;
  h1 {
    padding-top: 80px;
  }
  .sheet {
    min-height: 800px;
    background: #e6e6e6;
    width: 90%;
    margin: auto;
    border-radius: 2px;
    .inner {
      padding: 50px;
    }
    .sheet-button:hover {
      background: red;
    }
    .sheet-button {
      position: fixed;
      right: calc(40px + 5%);
      left: auto;
      bottom: 40px;
      -webkit-mask:none;
    }
  }
}

.bg {
  height: 500px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
}
.bg-profile {
  background-image: url(../res/profile/profile.jpg);
}
.bg-dashboard {
  background-image: url(../res/profile/dashboard.jpg);
}
.bg-history {
  background-image: url(../res/profile/history.jpg);
}
.bg-books {
  background-image: url(../res/profile/books.jpg);
}
.bg-transactions {
  background-image: url(../res/profile/transactions.jpg);
}
.bg-rating {
  background-image: url(../res/profile/rating.jpg);
}
.bg-search {
  background-image: url(../res/profile/search.jpg);
}





//@media only screen and (min-width : 601px) and (max-width : 992px) {
//  #toast-container {
//    min-width: 8%!important;
//    top: 10%!important;
//    right: 7%!important;
//  }
//}