/************************************************
------------------ COLORS -----------------------
************************************************/
$teal: #26a69a;




html {
  background: #333333;//move to base?
}






/************************************************
------------------ NAV --------------------------
************************************************/
.navigation-bar {
  z-index: 99;
  background: #191919;
  color: white;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  .block {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    position: relative;
    i {
      line-height: 50px;
      cursor: pointer;
    }
  }
  .logo {
    position: absolute;
    left: 10px;
    font-weight: 100;
    font-size: 20px;
    a {
      color: inherit;
    }
    .glip {
      padding-left: 0;
      height: 50px;

      img {
        position: absolute;
        height: 50%;
        width: auto;
        top: 15px;
      }
    }
    .button-collapse {
      transition: all .3s ease;
      &:hover {
        color: $teal;
      }
    }
  }
  .menu {
    position: absolute;
    right: 10px;
    .block {
      transition: all .3s ease;
      color: grey;
      cursor: pointer;
    }
    .block:hover {
      color: white;
    }
    .searchbar {
      display: inline-block;
      position: relative;
      height: 50px;
      input {
        height: 30px;
        width: 0;
      }
      input:focus {
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 0 0 #fff;
      }
    }
  }
  .drop-down-login:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13px 10px 13px;
    border-color: transparent transparent #757575 transparent;
    top: -10px;
    right: 14px;
  }
  .drop-down-login {
    position: absolute;
    right: 5px;
    top: 55px;
    width: 230px;
    z-index: 10001;
    border-radius: 5px;
    display: none;
    background: #757575;
    .top {
      background: #e6e6e6;
      padding: 20px 10px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.21);
      margin: 5px 5px 0 5px;
    }
    .bottom {
      text-align: center;
      font-size: 12px;
      a {
        color: white;
        transition: all .3s ease;
        display: block;
        padding: 10px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.47);
        &:hover {
          color: $teal;
        }
      }
    }
    p {
      color: #141414;
      margin: 0;
      margin-bottom: 8px;
      font-size: 14px;
    }
    .invalid {
      color: #a50000;
      font-size: 10px;
      display: none;
    }
    .help {
      font-size: 10px;
      margin-top: 5px;
      margin-bottom: 14px;
      display: block;
      span, i {
        display: inline-block;
        font-size: 10px;
        line-height: 15px;
        vertical-align: middle;
        color: grey;
        transition: all .3s ease;
      }
    }
    .help:hover {
      span,i {
        color: $teal;
      }
    }
    input,button {
      display: block;
      width: 100%;
      color: black;
    }
    input[type="text"] {
      margin-bottom: 5px;
    }
    input {
      border-radius: 3px;
      background: white;
      font-size: 12px;
      border: 1px solid #adadad;
      margin-bottom: 0;
      height: auto;
      padding: 7px 5px;
      box-sizing: border-box;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.28);
    }
    input:focus {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.28);
      border: 1px solid #adadad;
    }
    button {
      display: block;
      font-size: 12px;
      border:0;
      background: black;
      color: white;
      border-radius: 5px;
      padding: 10px;
      font-size: 10px;
      letter-spacing: 1px;
      transition: all .3s ease;
      &:hover {
        background: #242424;
      }
    }
    
    .logged-in-menu {
      width: auto;
      padding: 0;
      .menu-top {
        div {
          font-weight: 700;
          display: block!important;
        }
        span {
          font-size: 10px;
        }
      }
      .menu-item {
        padding: 10px;
        color: black;
        border-top: 1px solid grey;
        transition: all .3s ease;
        cursor: pointer;
        display: block;
        font-size: 12px;
        div {
          display: inline-block;
          line-height: 20px;
          height: 20px;
          vertical-align: middle;
          i {
            height: 20px;
            font-size: 20px;
            margin-right: 6px;
          }
        }
      }
      .menu-item:hover {
        background: #cdcdcd;
      }
      .menu-item:active {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.31);
        background: #c5c5c5;
        transition: all .1s ease;
      }
    }
    
  }
  .drop-down-admin {
    width: 180px;
  }
  .white-button {
    color: white!important;
  }
}
#slide-out {
  z-index: 999;
  li {
    border-bottom: 1px solid #ddd;
    transition: all .3s ease;
    &:hover {
      background: #e5e5e5;
    }
  }
  .side-menu-header {
    background: #262626; 
    color: white;
    padding: 80px 30px 20px 30px;
    font-size: 30px;
    img {
      height: 60px; 
      width: auto;
    }
  }
  .collapser {
    padding: 0;
    .collapse-header {
      position: relative;
      display: block;
      i {
        position: absolute;
        right: 30px;
        top: 20px;
        cursor: pointer;
        color: grey;
        transition: all .3s ease;
      }
      div {
        line-height: 64px;
        padding: 0 30px;
        cursor: pointer;
        transition: all .3s ease;
      }
    }
    .collapse-header:hover {
      background: #e5e5e5;
      i {
        color: black;
      }
    }
    .collapse-menu {
      display: none;
      border-top:1px solid #ddd;
      a {
        line-height: 64px;
        border-bottom:1px solid #ddd;
        padding: 0 45px;
        transition: all .3s ease;
        &:hover {
          background: #e5e5e5;
        }
      }
      .last {
        border-bottom: none;
      }
    }
  }
  .collapser:hover {
    background: none;
  }
}








/************************************************
------------------ HERO -------------------------
************************************************/
.header-slider {
  margin-top: 50px;
  position: relative;
  .item {
    height: 450px;
    width: 100%;
    background: #8b8b8b;
    display: block;
    padding: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: move;
    .slide-text {
      float: right;
      background: rgba(0, 0, 0, 0.8);
      color: white;
      max-width: 400px;
      padding: 20px;
      border-radius: 2px;
      .title {
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 10px;
      }
    }
  }
  .slide1 {
    background-image: url(../res/slider/deskbooks.jpg);
  }
  .slide2 {
    background-image: url(../res/slider/foggy-read.jpg);
  }
  .slide3 {
    background-image: url(../res/slider/library.jpg);
  }
  .owl-nav {
    display: none; 
  } 
  .owl-controls {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    .owl-dots {
      position: absolute;
      top: 50%;
      margin-top: -44px;
      margin-left: 20px;
      .owl-dot {
        background: white;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        margin: 10px 0;
        opacity: .4;
      }
      .active {
        opacity: 1;
      }
    }
  }
  .btn-floating {
    bottom: -27px;
  }
}










/************************************************
------------------ ABOUT ------------------------
************************************************/
#about:before {
  content: "";  
  position: absolute;
  top: -10px;
  width:100%;
  height: 10px;
  box-shadow: 0 5px 100px black;
}
#about {
  background: #f4f4f4;
  padding-bottom: 0;
  position: relative;
  .circle-row {
    padding-top: 40px;
    max-width: 1200px;
    .waves-effect {
      display: inherit;
    }
    .about-circle {
      border: 10px solid rgba(0, 0, 0, 0.46);
      height: 250px;
      width: 80%;
      border-radius: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 200%;
      margin: auto;
      text-align: center;
      position: relative;
      transition: all .3s ease;
      cursor: pointer;
      -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
      .inner {
        height: 37px;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        color: white;
        font-size: 25px;
      }
    }
    .active-circle {
      background-size: 220%;
    }
    .about-circle:hover {
      background-size: 220%;
    }
    .search {
      background-image: url(../res/about/search.jpg);
    }
    .meetup {
      background-image: url(../res/about/meetup.jpg);
    }
    .exchange {
      background-image: url(../res/about/exchange.jpg);
    }
  }
  .tab-row {
    margin-top: 50px;
    background: #ececec;
    border: 1px solid #bfbfbf;
    border-width: 1px 0 1px 0;
    padding: 40px 5% 80px 5%;
    position: relative;
    box-shadow: inset 0 10px 20px -5px rgba(0, 0, 0, 0.1);
    
    #about-tab2, #about-tab3 {
      display: none;
    }
    .nubbin {
      position: absolute;
      top: -1px;
      left: 15%;;
      height:16px;
      display:inline-block;
      width:32px;
    }
    .nubbin:before, .nubbin:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-bottom: 0;
    }
    .nubbin:before {
      bottom: 0px;
      left: 0px;
      border-top-color: #aeaeae;
      border-width: 16px;
    }
    .nubbin:after {
      bottom: 1px;
      left: 1px;
      border-top-color: #f4f4f4;
      border-width: 15px;
    }
  }
  .btn-floating {
    bottom: -27px;
  }
}






/************************************************
------------------ STARTED ----------------------
************************************************/
#started {
  background: transparent;
  position: relative;
  padding-bottom: 80px;
  h1 {
    color: white;
    margin-bottom: 100px;
  }
  .started-row {
    position: relative;
    padding-bottom: 20px;
    max-width: 1400px;
    .form, .links {
      padding: 0 7%;
    }
    .col {
      text-align: center;
      color: white;
      position: relative;
      .btn-flat {
        float: right;
        text-align: left;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 30px;
        margin-right: 10px;
        border-radius: 2px;
        overflow: hidden;
        font-size: 12px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 2px;
        margin-top: 20px;
        div {
          display: inline-block;
        }
        i {
          vertical-align: middle;
          margin-bottom: 2px;
          transition: all .3s ease;
          padding: 0;
          width: 10px;
          left: 0;
        }
      }
      .btn-flat:disabled {
        pointer-events: none;
        opacity: .5;
      }
      .btn-flat:hover {
        background: rgba(255, 255, 255, 0.2);
        i {
          color: $teal;
        }
      }
    }
    p {
      margin-bottom: 50px;
      color: white;
      text-align: center;
      font-size: 20px;
      font-weight: 100;
      position: relative;
    }
    p:after {
      position: absolute;
      content: "";
      height: 1px;
      width: 50px;
      background: $teal;
      bottom: -20px;
      left: 0;
      right: 0;
      margin: auto;
    }
    .links {
      text-align: center;
      p {
        margin-bottom: 67px;
      }
      a {
        display: block;
        text-align: left;
        padding: 10px 0 10px 20px;
        width: 100%;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 30px;
        border-radius: 2px;
        overflow: hidden;
        font-size: 12px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 2px;
        i {
          font-size: 18px;
          margin-right: 20px;
          vertical-align: middle;
          transition: all .3s ease;
        }
      }
      a:hover {
        background: rgba(255, 255, 255, 0.2);
        i {
          color: $teal;
        }
      }
      .input-wrapper {
        position: relative;
        i {
          font-size: 18px;
          position: absolute;
          left: 0;
          height: 100%;
          padding-top: 10px;
          padding-left: 20px;
          transition: all .3s ease;
        }
        input {
          display: block;
          text-align: left;
          padding: 12px 0 12px 57px;
          width: 100%;
          color: white;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 30px;
          border-radius: 2px;
          overflow: hidden;
          font-size: 12px;
          border: 1px solid rgba(255, 255, 255, 0.6);
          border-radius: 2px;
          height: auto;
          box-sizing: border-box;
        }
        input::-webkit-input-placeholder {color: #fff;}
        input:-moz-placeholder {color: #fff;}
        input::-moz-placeholder {color: #fff;}
        input:-ms-input-placeholder {  color: #fff;}
        input:focus {
          border: 1px solid rgba(255, 255, 255, 0.6);
          box-shadow: none;
          background: rgba(255, 255, 255, 0.2);
        }
      }
      .input-wrapper:hover {
        input {
          border: 1px solid rgba(255, 255, 255, 0.6);
          box-shadow: none;
          background: rgba(255, 255, 255, 0.2);
        }
        i {
          color: $teal;
        }
      }
    }
  }
  .started-row:before {
    position: absolute;
    content: "";
    width: 1px;
    left: 0;
    top: 17px;
    bottom: 40px;
    right: 0;
    margin: auto;
    border: 1px dashed rgba(255, 255, 255, 0.38);
  }
  #modal1 {
    .modal-input-row {
      margin-top: 50px;
    }
    button:disabled {
      opacity: .5;
    }
  }
}











/************************************************
------------------ FOOTER -----------------------
************************************************/
#footer {
  padding: 50px 5%;
  background: #333333;
  .row {
    margin-bottom: 0;
    .col {
      position: relative;
    }
  }
  img {
    height: 30px;
    position: absolute;
  }
  h3 {
    font-size: 20px;
    font-weight: 100;
    color: white;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  p {
    color: #7c7c7c;
    max-width: 400px;
  }
  a {
    display: block;
    text-align: left;
//    opacity: .6;
    cursor: pointer;
    transition: all .3s ease;
    color: #5f5f5f;
    &:hover {
      opacity: 1;
      color: $teal;
    }
  }
}