html {
  background: #d8d8d8;
}

.verified {
  background: white;
  width: 500px;
  height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  
  .header {
    padding: 60px 40px 20px 40px;
    width: 100%;
    background: #262626;
    img {
      height: 60px;
      margin: auto;
    }
  }
  .body {
    background: white;
    padding: 30px 40px 40px 40px;
    h5 {
      margin-bottom: 30px;
    }
    a, button {
      margin-top: 30px;
    }
  }
}

.forgotten {
  height: 470px;
  .row .col.s12 {
    padding: 0;
    
  }
  .input-field label {
    left: 0;
  }
}